.box{
  background: #cad5e2;
  color: white;
  border-radius:  5px;
  margin:250px 300px;
  align-items:  center; 
  text-align:   center; 
  padding:   5px auto;
}
option,select{
  
   padding: 5px;
  border-radius: 9px;
  margin: 5px auto;
  background-color: #0abfbc;
  border: none;
  cursor: pointer;
  color:white;
}
option:focus,select:focus{
  outline:  none;
},
.txtWarning {
  color: #ff0000;
}